@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<p>Use this area to provide additional information.</p>


<div class="container">
    <div id="connected"></div>
    <input type="button" id="startTimer" value="Start"/>

    <div id="time"></div>

</div>
@section scripts{
    
<script src="~/Scripts/jquery-1.10.2.min.js"></script> 
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script> 
<script src="~/signalr/hubs"></script> 
<script type="text/javascript"> $(function () { 
     //$('#connected').append("test"); 
     var counterHub = $.connection.timerCounter; 
     counterHub.client.updateConnected = function(amount) {
          $('#connected').text(amount);
     } 
     counterHub.client.time = function(amount) {
          $('#time').text(amount);
     }
     $.connection.hub.start().done(function() {
         counterHub.server.connected();
         $('#startTimer').click(function() {
              counterHub.server.time();
         })
     })
 }); </script>
}
